.cartBtn {
    position: relative;
    min-width: 40px;
    padding-right: 6px;
}

.cartBtnFull {
    width: 100%;
    justify-content: space-between;
}

.fullWidth {
    width: 100%;
    justify-content: flex-start;
}