.layout {
  padding-top: 16px;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 16px;


  @media screen and (max-width: 1000px) {
    grid-template-columns: 1fr;
  }
}


.itemsCol {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.additionalCol {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
