.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
    @media (max-width: 800px) {
    flex-direction: column;
  }
}


.productImage {
  border-radius: unset;
  width: 100%;
  @media (max-width: 800px) {
    &:last-child{
      padding-bottom: 200px;
    }
  }
}

.carouselContainer[data-container] {
    max-width: 100%;
    &  [data-slide] {
      width: 250px;
      max-width: 500px;
    }
}

.productImagesContainer {
  @media (max-width: 800px) {
    width: 100%;
    max-width: 100%;
    height: 500px;
  }
}

.productDetails {
  padding: 1rem;
  background-color: var(--color-background);

  @media (max-width: 800px) {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 95%;
    margin-top: -15px;
  }
}

.scrollThumb {
  display: none;
  margin: 0 auto;
  cursor: grab;
  width: 50px;
  height: 4px;
  right: 0;
  top: 0;
  position: relative;
    background-color: var(--gray-a8);
    border-radius: var(--radius-5);
    transition: background-color .1s;

    @media (max-width: 800px) {
    display: block;
}
}


