.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: calc(100vh - var(--header-height) - var(--footer-height));
  height: calc(100dvh - var(--header-height) - var(--footer-height));

  @media (max-width:1000px) {
    height: fit-content;
    height: fit-content;
  }
}

.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 100%;
}

.leftPart,
.rightPart {
  width: 560px;

  @media (max-width: 600px) {
    width: 100%;
  }
}


.rightPart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
