@import './normalizer.css';
@import '@radix-ui/themes/styles.css';
@import './fonts.css';
@import './carousel.css';

html {
  color: #222;
}

body {
  overflow-x: hidden;
}

.pointer {
  cursor: pointer;
}

.bg-blur {
  filter: blur(2px);
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;

}

fieldset[disabled]  {
    user-select: none;
    pointer-events: none;
}

.rt-BaseDialogOverlay::before {
  backdrop-filter: blur(4px);
}

:root {
  --color-form-error: #e5484d;
  --header-height: 48px;
  --footer-height: 80px;
}
