.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layoutWithScrollActive {
    margin-top: 48px;
}

.decorativeBg {
    position: absolute;
    left: 0px;
    right: 0px;
    height: 480px;
    opacity: 0.6;
    background: linear-gradient(to bottom, var(--accent-4), transparent);

    z-index: -1;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}
