.header {
  height: var(--header-height);
  max-height: var(--header-height);
  background-color: transparent;
  width: 100%;
  padding: 1rem;
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}



.headerFixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 10px;
  z-index: 1000;
  height: var(--header-height);
  max-height: var(--header-height);
  background-color: var(--color-background);
  box-shadow: 0 1px var(--gray-a4);
}

[data-active="true"].active {
  background-color: var(--accent-a3);
}

